<%
  var routerParams = routerModel.attributes;
  var countsReady = counts.all !== undefined;
%>
<div class="LeftMenuScrollable">
<div class="LeftMenuContent">
<ul>
  <li><div class="MenuItem 
    <%= !(routerParams.category || routerParams.liked || routerParams.imported || routerParams.locked === 'true' || routerParams.samples) ? 'selected' : '' %>
    " data-params='{}'>
      <a href="javascript:void(0)">All</a>
      <% if (countsReady) { %>
        <div class="CategoryCount"><%- counts.all %></div>
      <% } %>
    </div></li>
  <li><div class="MenuItem <%= routerParams.liked ? 'selected' : '' %>" data-params='{"liked":true}'>
    <a href="javascript:void(0)">Favorites<a/>
    <% if (countsReady) { %>
      <div class="CategoryCount"><%- counts.liked %></div>
    <% } %>
  </div></li>
  <% if (content_type == "datasets") { %>
    <li><div class="MenuItem <%= routerParams.imported ? 'selected' : '' %>" data-params='{"imported": true}'>
      <a href="javascript:void(0)">Recently Used</a>
      <% if (countsReady) { %>
        <div class="CategoryCount"><%- counts.imported %></div>
      <% } %>
    </div></li>
  <% } else { %>
    <li><div class="MenuItem <%= routerParams.locked === 'true' ? 'selected' : '' %>" data-params='{"locked": true}'>
      <a href="javascript:void(0)">Locked</a>
      <% if (countsReady) { %>
        <div class="CategoryCount"><%- counts.locked %></div>
      <% } %>
    </div></li>
    <li><div class="MenuItem MenuItem-samples <%= routerParams.samples ? 'selected' : '' %>" data-params='{"samples": true}'>
      <a href="javascript:void(0)">Sample Maps</a>
    </div></li>
  <% } %>
  <% if (content_type == "datasets") { %>
    <li class="blp-navigator-category">
      <label>Categories</label>
    </li>
    <ul class="CategoryTree">
    <% for (var i = 0, l = categories.length; i < l; ++i) { %>
      <%
        var category = categories[i];
        var categoryId = category.get('id');
        var subCategories = category.get('children');
        var selected = "";
        var expanded = "";
        var parentClass = subCategories.length > 0 ? "ParentChevron" : "ChevronPlaceholder";
        if (categoryId == current_category) {
          selected = "selected";
        } else if (_.findWhere(subCategories, {id: current_category})) {
          expanded = "expanded";
        }
      %>
      <li>
        <div class="MenuItem <%- selected %> <%- expanded %>" data-params='{"category": true, "page": <%- categoryId %>}'>
          <div class="<%- parentClass %>"></div>
          <a href="javascript:void(0)"><%- category.get('name') %></a>
          <% if (countsReady) { %>
            <div class="CategoryCount"><%- category.get('count') %></div>
          <% } %>
        </div>
        <% if (subCategories.length > 0) { %>
          <ul class="SubCategories <%- expanded %> SubCategories-<%- categoryId %>">
          <% for (var s = 0, sl = subCategories.length; s < sl; ++s) { %>
            <% var subCategory = subCategories[s]; %>
            <li class="SubCategory">
              <div class="MenuItem <%- (subCategory.id == current_category ? "selected" : "") %>" data-params='{"category": true, "page": <%- subCategory.id %>}'>
                <a href="javascript:void(0)"><%- subCategory.name %></a>
                <% if (countsReady) { %>
                  <div class="CategoryCount"><%- subCategory.count %></div>
                <% } %>
                </div>
            </li>
          <% } %>
          </ul>
        <% } %>
      </li>
  <% } %>
  </ul>
  <% } %>
</ul>
</div>
</div>
