<% if (!isEditing && value.safeHTML) { %>
  <div class="DefaultDescription js-add-btn <% if (!editable) { %>disabled<% } %>" title="<%- value.clean %>"><%= value.safeHTML %></div>
<% } else { %>
  <% if (editable) { %>
    <button class="EditableField-button js-add-btn"><%- editText %></button>
    <textarea class="EditableField-input js-field-input" maxlength="<%- maxLength %>"><%- value.clean %></textarea>
  <% } else { %>
    <div class="DefaultDescription">
      <span class="NoResults"><%- value.safeHTML || undefinedText %></span>
    </div>
  <% } %>
<% } %>
