<a class="remove" href="#close"></a>

<div class="header <%- status %>">
  <div class="title">
    <span>
      <a class="toggleButton" style="float:left; margin-right:3px" href="#">(toggle)</a>
      <strong class="legend u-ellipsLongText">
      <% if (status != 'loaded') { %>
        <% if (alias) { %>
          <%- alias %>
        <% } else { %>
          <%- short_legend %>
        <% } %>
      <% } else { %>
        <% if (alias) { %>
          <%- alias %>
        <% } else { %>
          <%- legend %>
        <% } %>
      <% } %>
    </strong>
    <p class='filterCount' style="display:inline"></p>
    <% if (status == 'only') { %><div class="<%- status %>">This column has one unique value</div><% } %>
    <% if (status == 'empty') { %><div class="<%- status %>">This column is empty</div><% } %>
    </span>

  </div>

</div>

<div class="filterListandControls">
  <% if (status == "loaded") { %>
  <div class="filterSelectViewOptions">
  <% if (!reached_limit) { %>
      <input class="filterInput" value="<%- listFilterValue %>" onfocus="this.value = this.value;" placeholder="Filter List" />
  <% } else { %>
      <div class="ui-widget">
         <input class="filterInputRemote" id="remoteInput" value="<%- listFilterValueRemote %>" onfocus="this.value = this.value;" placeholder="Search" />
      </div>
  <% } %>
    <ul class="controllers<% if (!list_view || reached_limit) { %> hidden<% } %>">
      <li>
        <a href="#" class="select_all" style="float:left">Select All</a>
        <a href="#" class="reset" style="float:left">Reset Filter</a>
        <a href="#" class="sort-high-low" style="float:right">High to Low</a>
        <a href="#" class="sort-a-z" style="float:right">A to Z</a>
        <a href="#" class="sort-default" style="float:right">Default order</a>
      </li>
    </ul>
    <div style="clear:both"></div>
  </div>
  <% } %>
  <div class="fields <%- column_type %> <%- status %> list">

    <div class="data">
      <div class="white-gradient-shadow top"></div>
      <div class="scroll">
        <ul class="items" style="display: block;"></ul>
      </div>
    </div>
  </div>
</div>